.App {
    text-align: center;
}

.App-header h1 {
    color: #111;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}

.App-header h2 {
    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}